dl, ul, ol{
	margin: 1.5em 0em;
	line-height: 1.45em;
}

ul{
	list-style: disc;
}

ol{
	list-style: decimal;
}

li{
	margin-left: -0.3em;
	padding-left: 0.3em;
	margin-bottom: .2em;
}

ul.nested-one li{
	list-style: circle;
}

ul.nested-two li{
	list-style: disc;
}

ol.nested-one li{
	list-style: lower-alpha;
}

ol.nested-two li{
	list-style: lower-roman;
}